* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --maincolor: rgb(123, 142, 227);
}
body {
  font-family: sans-serif;
}
body > header {
  background-color: var(--maincolor);
  color: white;
  text-align: center;
  padding: 1.5rem;
}

main > section {
  padding: 1.5rem;
}

h2 {
  color: var(--maincolor);
  margin-bottom: 1rem;
}
main > section > ul {
  padding-left: 3rem;
}
main > section > ul > li {
  list-style: circle;
  margin-bottom: 0.5rem;
}

.importante {
  text-decoration: underline;
  font-weight: bold;
}

main > section > table {
  padding-left: 3rem;
}
thead > tr {
  background-color: var(--maincolor);
  color: white;
}
tr:nth-child(even) {
  background-color: rgb(197, 204, 236);
}
tbody > tr:nth-child(odd) {
  background-color: rgb(228, 231, 242);
}
tbody > tr > th {
  background-color: rgb(123, 142, 227, 40%);
}

#descanso {
  font-weight: bold;
  text-align: center;
}

th,
td {
  padding: 0.75rem;
}
